@font-face
  font-family: 'resume-icon'
  src: url('../fonts/resume-icon.eot?qwz4ej')
  src: url('../fonts/resume-icon.eot?qwz4ej#iefix') format('embedded-opentype'),
    url('../fonts/resume-icon.ttf?qwz4ej') format('truetype'),
    url('../fonts/resume-icon.woff?qwz4ej') format('woff'),
    url('../fonts/resume-icon.svg?qwz4ej#resume-icon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'resume-icon' !important;
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
}

.icon-arrow:before
  content: "\e900"
  color: #fff

.icon-d_contact:before
  content: "\e901"
  color: #fff

.icon-d_exp:before
  content: "\e902"
  color: #fff

.icon-d_home:before
  content: "\e903"
  color: #fff

.icon-d_info:before
  content: "\e904"
  color: #fff

.icon-d_skills:before
  content: "\e905"
  color: #fff

.icon-d_works:before
  content: "\e906"
  color: #fff

.icon-i_age:before
  content: "\e907"
  color: #fff

.icon-i_edu:before
  content: "\e908"
  color: #fff

.icon-i_site:before
  content: "\e909"
  color: #fff

.icon-i_status:before
  content: "\e90a"
  color: #fff

.icon-s_blog:before
  content: "\e90b"
  color: #fff

.icon-s_github:before
  content: "\e90c"
  color: #fff

.icon-s_wb:before
  content: "\e90d"
  color: #fff

.icon-s_zh:before
  content: "\e90e"
  color: #fff

